node_modules
.next
npm-debug.log*
.env
.env.*
*.pem
*.key
*.crt
coverage
Dockerfile*
.dockerignore
.git
tests
test-results
*.sarif
*sbom*.json
*scan*.json
*.tsbuildinfo
.idea
.vscode
Thumbs.db
Desktop.ini
*.tmp
